<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.urszeidler.eclipse.solidity.laucher.core.launch.uml2solidity">
<stringAttribute key="CONTRACT_FILE_HEADER" value="/*&#10;*&#10;*(c) 2016 KUEKeN&#10;* Urs Zeidler&#10;*&#10;*/"/>
<booleanAttribute key="GENERATE_ABI" value="true"/>
<stringAttribute key="GENERATE_ABI_TARGET" value="/party-contracts/mix/abi"/>
<booleanAttribute key="GENERATE_CONTRACT_FILES" value="true"/>
<booleanAttribute key="GENERATE_HTML" value="true"/>
<booleanAttribute key="GENERATE_JS_CONTROLLER" value="true"/>
<stringAttribute key="GENERATE_JS_CONTROLLER_TARGET" value="/party-contracts/mix/js"/>
<stringAttribute key="GENERATE_JS_TEST_TARGET" value="/party-contracts/mix/test"/>
<booleanAttribute key="GENERATE_MARKDOWN" value="true"/>
<booleanAttribute key="GENERATE_MIX" value="false"/>
<booleanAttribute key="GENERATE_WEB3" value="true"/>
<stringAttribute key="GENERATION_TARGET" value="/party-contracts/mix"/>
<stringAttribute key="GENERATION_TARGET_DOC" value="/party-contracts/doc"/>
<stringAttribute key="JS_FILE_HEADER" value="/**&#10;*&#10;*(c) 2016 KUEKeN&#10;* Urs Zeidler&#10;*&#10;**/"/>
<booleanAttribute key="enable_version" value="false"/>
<stringAttribute key="modelUri" value="/party-contracts/model/party-dao.uml"/>
<stringAttribute key="version_pragma" value="pragma solidity ^0.4.0;"/>
</launchConfiguration>
